**/.vs/
**/Debug/
**/Release/
*.pdf
*.pptx
*.xlsx
*.ppt
dnn/.vscode/settings.json
dnn/NearestNeighbor/ENN/DCEL/*.ipe
dnn/NearestNeighbor/ENN/DCEL/Makefile
/dnn/NearestNeighbor/ENN/C_Subidivision/Testcode/test_lib.a
/dnn/NearestNeighbor/ENN/C_Subidivision/Testcode/test_csdiv_pts.o
/dnn/NearestNeighbor/ENN/C_Subidivision/Testcode/CS_valid_check.o
/dnn/NearestNeighbor/ENN/C_Subidivision/Testcode
/dnn/NearestNeighbor/ENN/C_Subidivision/PointLocation/Location_lib.a
/dnn/NearestNeighbor/ENN/C_Subidivision/PointLocation/Location.o
/dnn/NearestNeighbor/ENN/C_Subidivision/PointLocation
/dnn/NearestNeighbor/ENN/C_Subidivision/DCEL/Vector.o
/dnn/NearestNeighbor/ENN/C_Subidivision/DCEL/Polygon.o
/dnn/NearestNeighbor/ENN/C_Subidivision/DCEL/Point.o
/dnn/NearestNeighbor/ENN/C_Subidivision/DCEL/Edge.o
/dnn/NearestNeighbor/ENN/C_Subidivision/DCEL/DCEL_operation.o
/dnn/NearestNeighbor/ENN/C_Subidivision/DCEL/DCEL_lib.a
/dnn/NearestNeighbor/ENN/C_Subidivision/DCEL/DCEL_IO.o
/dnn/NearestNeighbor/ENN/C_Subidivision/DCEL/DCEL.o
/dnn/NearestNeighbor/ENN/C_Subidivision/main.o
/dnn/NearestNeighbor/ENN/C_Subidivision/main.exe
/dnn/NearestNeighbor/ENN/C_Subidivision/C_Subdivision.o
/dnn/NearestNeighbor/ENN/C_Subidivision/CS_Free.o
/dnn/NearestNeighbor/ENN/C_Subidivision/WC_region.o
